body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#full-body {
    margin: 50px;
}

.container {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 1rem;
    min-height: 80vh;
    width: 580px;
    overflow: scroll;
    border-radius: 0.6rem;
}

input#todo-input {
    border: none;
    color: #85929E;
    font-size: 18px;
	outline: none;
	background: none;
}

button#todo-submit {
    background: #3498DB;
    border: none;
    color: #fff;
    font-family: 'Poppins';
    border-radius: 4px;
    padding: 5px 20px;
}

h3#top-output {
    text-align: start;
    padding-left: 120px;
}